/* top styling */
.top {
    display: flex;
    align-items: center;
}

.top h1 {
    text-align: center;
    margin-left: 30%;
}

.backButton {
    height: 4em;
    width: 4em;
}

/* team rows styling */
.division {
    margin-left: 1%;
}

.teamsRow {
    display: flex;
}

.teamsRow .teamCard {
    width: 25%;
    margin: 0.8%;
    padding: 2%;
    border-radius: 15px;
}

.teamsRow .teamCard h4 {
    color: white;
}