/* top styling */
.top {
    display: flex;
    align-items: center;
}

.top h1 {
    text-align: center;
    margin-left: 25%;
}

.backButton {
    width: 2%;
}

/* team rows styling */
.teamsRow {
    display: flex;
}

.teamsRow .teamCard {
    width: 25%;
    margin: 1%;
    padding: 2%;
    border-radius: 15px;
}

.teamsRow .teamCard h4 {
    color: white;
}